.p2d-logo {
  width: 2.5em;
  height: 2.5em;
}

.p2d-logo-container {
  display: inline-block;
  align-items: center;
}

.subcontainer {
  display: inline-block;
  vertical-align: middle;
  align-items: center;
}

.p2d-logo-img {
  display: block;
  height: 100%;
  margin: auto;
}

.p2d-logo-text {
  font-size: 2.5em;
  color: white;
  font-weight: medium;
  margin-left: 10px;
}