@import "../../index.scss";

.p2d-logo {
  display: flex;
  align-items: center;
  height: 100%;
  width: auto;
}

.p2d-logo-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: auto;
}

.p2d-logo-img {
  fill: $p2d-reg;

  &.light {
    fill: white;
  }
}

.p2d-logo-svg {
  height: 100% !important;
  width: auto;
}

.p2d-logo-text {
  display: flex;
  align-items: center;
  font-size: 2.5em;
  color: $p2d-reg;
  font-weight: medium;

  &.light {
    color: white;
  }
}

/*@media only screen and (max-width: 700px) {
  .p2d-logo-text {
    display: none !important;
  }
}*/