@import '../../index.scss';

.Feed {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  padding-left: 5vw;
  padding-top: 20px;
  padding-right: 5vw;
  color: $p2d-gray;
}

.feed-title__container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.feed-title__text {
	font-weight: bold;
	font-size: 32px;
}

.filter-container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 50px;
	margin-top: 20px;
	font-size: 12px;
	min-width: 100%;
}

.filter-img {
	height: 50%;
	width: auto;
	margin-right: 10px;
}

.filter-container__item {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	cursor: pointer;
}

.filter-content__container {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	overflow-x: scroll;
}

::-webkit-scrollbar {display:none;}

.grid-container {
	margin-top: 20px;
	position: relative;
}

.filter-content__item {
	border: 1.5px solid $p2d-reg;
	border-radius: 10px;
	height: 30px;
	min-width: 150px;
	color: $p2d-gray;
	margin-right: 20px;
	margin-left: 20px;
	font-size: 14px;
	cursor: pointer;

	display: flex;
	align-items: center;
	justify-content: center;

	&:hover {
		border-color: $p2d-reg;
		background-color: $p2d-reg;
		color: white;
		opacity: 0.9;
	}

	&.selected {
		border-color: $p2d-dark;
		background-color: $p2d-dark;
		color: white;

		&:hover {
			opacity: 1;
		}
	}
}

.bottom-bar {
	width: 100%;
	margin-top: 20px;
	display: flex;
	flex-shrink: 1;
	color: $p2d-dark;
	opacity: 1;

	transition: visibility 0s, opacity 0.5s linear;;
}

.filter-title {
	font-weight: bold;
	color: $p2d-dark;
}

.filter-options {
	margin-left: 10px;
	flex-grow: 1;
}

.filter-option {
	&:hover {
		color: $p2d-gray;
		cursor: pointer;
	}

	&.added {
		color: $p2d-gray;
		cursor: default !important;
	}
}

@media only screen and (max-width: 700px) {
	.feed-title__container {
		margin-top: 30px;
	}
	.feed-title__text {
		font-size: 18px;
	}

	.filter-content__item {
		flex-shrink: 1;
		min-width: 100px;
		margin-left: 8px;
		margin-right: 8px;
		font-size: 12px;
	}
}

