@import "../../index.scss";

.backdrop, .modal {
	top: 50%;
	left: 50%;
	position: fixed;
	transform: translate(-50%, -50%);
	z-index: 11;
}

.backdrop {
	background: rgba(0, 0, 0, 0.6);
	height: 100%;
	width: 100%;
}

.modal {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1em;
	background: white;
	border-radius: 3px;
	height: 80vh;
	width: 60vw;
	overflow-y: scroll;
	z-index: 150;
}

.modalimage-container {
	height: 90%;
	width: 100%;
	display: flex;
	align-items: flex-start;

	&__thumbnail-container {
		width: 20%;
		min-width: 100px;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-grow: 1;
		flex-shrink: auto;
	}

	&__thumbnail-img {
		width: 50%;
		margin-bottom: 10px;

		&.selected {
			opacity: 0.5;
		}
	}

	&__main {
		max-height: 75vh;
		flex-grow: 2;
		flex-shrink: auto;
	}

	&__text-container {
		margin-left: 20px;
		flex-grow: 1;
		flex-shrink: auto;
	}

	&__text {
		font-size: 20px;
	}
}

.circle-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-right: 10px;

	&__text {
		margin-top: 10px;
	}
}

.circle {
    border: 1px solid $p2d-gray;
    background-color: #FFFFFF;
    height: 50px;
    border-radius: 50%;
    width: 50px;
    margin-top: 30px;

    display: flex;
	align-items: center;
	justify-content: center;

	&:hover {
		border: 1px solid $p2d-reg;
	}
}

.cart {
	display: flex;
	justify-content: flex-start;
	font-size: 12px;

	&__icon {
		height: 40%;

		&:hover {
			color: $p2d-reg;
		}
	}
}

.modal-button {
	border-radius: 25px;
	border: 1px solid black;
	background: white;
	padding: 0.5em;
	width: 120px;
	height: 35px;
	font-size: 14px;
}

.modal-text-container {
	text-align: left;
	max-width: 400px;
	font-size: 13.5px;
	padding: 0 2.5em 0 2.5em;
	line-height: 16px;
}

.modal-item {
	margin: 0;
	padding-bottom: 0.4em;
	padding-top: 0.4em;
}

.exit {
	position: absolute;
	font-size: 24px;
	top: 0;
	right: 0;
	width: 15px;
	height: 15px;
	margin: 0.6em 0.6em 0 0;
}

.exit:hover {
	cursor: pointer;
}

.small-font {
    font-size: 0.75em;
}

@media (max-width: 900px) {
	.modal {
		height: 80vh;
		width: 75vw;
	}

	.modalimage-container {
		flex-direction: column;
		align-items: center;

		&__thumbnail-container {
			width: 50vw;
			flex-direction: row;
			min-width: 0;
			justify-content: space-between;
		}

		&__thumbnail-img {
			width: 30%;
			margin-bottom: 10px;
		}

		&__main {
			width: 50vw;
		}

		&__text-container {
			width: 50vw;
			text-align: center;
			margin-left: 0;
		}

		&__text {
			margin-top: 10px;
			font-size: 14px;
		}
	}

	.dress-info {
		font-size: 12px;
	}

	.cart {
		justify-content: center;

		&__icon {
			height: 50%;
		}
	}

	.circle {
		width: 35px;
		height: 35px;
	}

	.circle-container {
		margin-right: 5px;
		margin-left: 5px;
		margin-bottom: 10px;
	}


}
