@import './styles/fonts/fonts.scss';

$p2d-reg: #94DDD9;
$p2d-dark: #4BA6A1;
$p2d-gray: #666666;
$p2d-lightgray: rgba(244, 244, 244, 1);
$p2d-lightergray: rgba(244, 244, 244, 0.5);
$p2d-medgray: #bbbbbb;

body {
  font-family: 'Raleway';
}
