@import '../../index.scss';

.dress-display {
	width: 100%;
	display: flex;
	align-items: flex-start;
	flex-direction: column;

	&__img-container {
		display: flex;
		justify-content: center;
		flex-direction: row;
		margin: 0 10px 10px 10px;
	}

	&__img {
		min-width: 100px;
		max-width: 200px;
		padding-bottom: 20px;
		padding-top: 10px;
		border-bottom: 1px solid $p2d-reg;
	}

	&__text {
		padding-left: 20px;
		padding-top: 10px;
		font-size: 16px;
		border-bottom: 1px solid $p2d-reg;
	}

	&__title {
		font-size: 20px;
		font-weight: bold;
	}
}

.cart-button {
	width: 150px;
	height: 40px;
	border-radius: 3px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $p2d-dark;
	margin-top: 30px;
	cursor: pointer;

	&:hover {
		background-color: $p2d-reg;
	}
}

@media only screen and (max-width: 700px) {
	.dress-display {

		&__img {
			max-width:120px;
  			max-height: 168px;
  			width: auto;
  			height: auto;
		}
		&__text {
			font-size: 10px;
		}

		&__title {
			font-size: 12px;
		}
	}

	.cart-button {
		width: 90px;
		height: 30px;
	}
}