.grid-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.wrapper {
	width: 100%;
	display: flex;
	align-items:flex-start;
	align-content: flex-start;
	flex-flow: row wrap;
}

.dress-container {
	height: 400px;
	width: 300px;
	flex-grow: 1;
	margin: 15px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	cursor: pointer;
}

.image-container {
	background-color: #ccc;
	width: 100%;
	height: 100%;
	&:hover {
		opacity: 0.7;
	}
}

.dress-title {
	font-weight: bold;
	margin-top: 5px;
}

.dress-retail {
	text-decoration: line-through;
}

.dress-rental {
	font-weight: 500;
}