.p2d-nav {
  height: 5vw;
  display: flex;
  align-items: center;
}

.p2d-nav-logo {
  flex-grow: 1;
  display: flex;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}

.wrapper {
  display: inline-block;
}

.p2d-nav-item__container {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.p2d-nav-item, .p2d-nav-img {
  font-size: 1.5em;
  color: white;
  float: right;
  margin-left: 20px;
  opacity: 0.8;
  flex-shrink: 0;
}

.p2d-nav-img {
  height: 1.5em;
}

.nav-svg {
  height: 80%;
  cursor: pointer;
}

.p2d-nav-item:hover {
  text-decoration: underline; 
  opacity: 1;
  cursor: grab;
}

@media only screen and (max-width: 700px) {
  .p2d-nav-item__container {
    flex-grow: 2;
  }

  .p2d-nav-logo {
    height: 50%;
    font-size: 0.5em !important;
  }

  .p2d-nav-item {
    font-size: 1em;
  }
}
