{% extends 'base_feed.html' %}

{% block title %}Email Sent{% endblock %}
{% block content %}

<h2 style="text-align: center; font-size: 20px; line-height: 60px; font-family: 'Raleway', sans-serif; padding-top: 60px;">
    <br>
    Your e-mail was sent!
    <br>
    You should receive a response soon. Thanks for using Press To Dress!
</h2>
<h2 style="text-align: center; font-size: 20px; line-height: 60px; font-family: 'Raleway', sans-serif;">
    <a href="/feed/">Back To Feed</a>
</h2>

{% endblock %}
