{% load static %}<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" rel='stylesheet'>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" id="bootstrap-css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
      body {
        /*padding-top: 80px;*/
        background: #ffffff;
      }

      .occasions{
        width: 25%;
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2
      }

      .topleft {
        position: absolute;
        top: 15%;
        left: 4.5%;
        width:50px;
        height:50px;
      }
    </style>
   </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="height:80px; background-color: #91DDDA;">
      <div class="container">
        <a href="/temp/"><img class = "topleft" src="{% static "images/logo.png"%}"></a>
        <label class="navbar-brand" style = "color:#ffffff; font-size:180%;  position: absolute; left: 9%; top: 17%; font-family: 'Raleway', sans-serif">PRESS TO DRESS</label>
      </div>
    </nav>
    <div class="container" style="text-align: center; top: 300px; font-size: 100%; width: 40%;">
        <div class="container">
  <h1 style="text-align: center; font-size: 28px; color:#5FC1BD; padding-top: 40px; font-family: 'Raleway', sans-serif;">You are now ready to use PressToDress!</h1>
  <h2 style="text-align: center; font-size: 24px; color:#5FC1BD; padding-top: 20px; padding-bottom: 20px; font-family: 'Raleway', sans-serif;">A couple of pointers before you start:</h2>

            <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

    <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
            <img src="{% static "images/tutorial_feed.png"%}" alt="Los Angeles" style="width:100%;">
        </div>

        <div class="item">
            <img src="{% static "images/tutorial_cart.png"%}"  alt="Chicago" style="width:100%;">
        </div>

        <div class="item">
            <img src="{% static "images/tutorial_filter.png"%}" alt="New york" style="width:100%;">
        </div>
        </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
    </div>
  </body>
</html>


