@import '../../index.scss';

.cart {
	&__container {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		position: absolute;
		padding-left: 5vw;
		padding-top: 20px;
		padding-right: 5vw;
		color: $p2d-gray;
	}
}

.cart-title {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: calc(5vw + 40px);
	
	&__text {
		color: $p2d-gray;
		font-size: 32px;
		font-weight: bold;
	}
}

.cart-body {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-top: 20px;
	width: 100%
}

.cart-dresses {
	width: 60%;
}

.cart-summary {
	color: $p2d-gray;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 40%;

	&__date {
		display: flex;
		flex-direction: column;
		align-content: center;
	}

	&__title {
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		font-weight: bold	
	}

	&__items {
		font-family: "Roboto";
		padding-top: 20px;
		margin-left: 40px;
		margin-right: 40px;
		padding-bottom: 10px;
		border-bottom: 1px solid $p2d-gray;

	}

	&__item {
		padding-bottom: 3px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&__total {
		margin-top: 10px;
		margin-left: 40px;
		font-weight: bold;
	}

	&__submit {
		margin-top: 20px;
		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;
		background-color: $p2d-dark;
		color: white;
		height: 35px;
		padding-left: 5px;
		padding-right: 5px;
		border-radius: 3px;

		display: flex;
		align-items: center;
		cursor: pointer;

		&:hover {
			opacity: 0.7;
		}
	}

	&__submitted {
		font-size: 12px;
		align-items: center;
		justify-content: center;
		margin-top: 10px;
	}
}

@media only screen and (max-width: 700px) {
	.cart-title {
		margin-top: calc(5vw + 60px);

		&__text {
			font-size: 18px;
		}
	}

	.cart-summary {
		font-size: 12px;
		width: 50%;

		&__items, &__total, &__submit, &__title {
			margin-right: 0;
			margin-left: 0;
		}

		&__total {
			max-width: 100px;
		}
	}

	.cart-dresses {
		width: 30%;
	}

	.cart-body {
		justify-content: space-between;
	}
}