@import '../../index.scss';

.cart {
	&__container {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		position: absolute;
		padding-left: 5vw;
		padding-top: 20px;
		padding-right: 5vw;
		color: $p2d-gray;
	}
}

.cart-title {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: calc(5vw + 40px);
	
	&__text {
		color: $p2d-gray;
		font-size: 32px;
		font-weight: bold;
	}
}

.cart-body {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.cart-dresses {
	flex-grow: 1;
	max-width: 70%;
}

.cart-summary {
	color: $p2d-gray;
	background-color: $p2d-lightgray;

	display: flex;
	flex: 2 0 auto;
	flex-direction: column;
	justify-content: flex-start;

	&__title {
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		font-weight: bold;
	}

	&__items {
		font-family: "Roboto";
		margin-top: 20px;
		margin-left: 40px;
		margin-right: 40px;
		padding-bottom: 10px;
		border-bottom: 1px solid $p2d-gray;
	}

	&__item {
		margin-bottom: 3px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&__total {
		margin-top: 10px;
		margin-left: 40px;
		font-weight: bold;
	}

	&__submit {
		margin: 20px auto 0px auto;
		background-color: $p2d-dark;
		color: white;
		height: 35px;
		padding-left: 5px;
		padding-right: 5px;
		border-radius: 3px;

		display: flex;
		align-items: center;
		cursor: pointer;

		&:hover {
			opacity: 0.7;
		}
	}

	&__submitted {
		font-size: 12px;
		align-items: center;
		justify-content: center;
		margin-top: 10px;
	}
}

@media only screen and (max-width: 700px) {
	.cart-title {
		margin-top: calc(5vw + 60px);

		&__text {
			font-size: 18px;
		}
	}
}